.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Palette-colors {
  height: 90%;
}

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.Palette-footer {
  height: 5vh;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
  align-items: center;
  font-weight: bold;
}

.emoji {
  font-size: 1.5rem;
  margin-left: 1rem;
}
